* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS3 background: linear-gradient */
.box {
    width: 400px;
    height: 400px;
    border: 1px solid #ff0000;
    /* background: linear-gradient(to right, red, lime, blue); */
    /* background: linear-gradient(to top, red, lime, blue); */
    /* background: linear-gradient(to right bottom, red, lime, blue); */
    /* background: linear-gradient(to left bottom, red, lime, blue); */
    background: linear-gradient(45deg, red, lime, blue);


    /* 2D transform */
    /* transform: translate(100px, 10px); */
    /* transform: rotate(45deg); */
    /* transform: scale(2,3); */
    /* transform: skew(45deg, 30deg); */

    /* position: relative;
    top: 10px;
    left: 100px; */

    /* transition: transform 10s ease 0s; */
    /* transition: all 10s ease 0s; */
    
    /* CSS Animation  */
    
    /* animation: myAnimation 10s ease 0s; */
    animation: myAnimation 10s ease 0s infinite alternate;
}

/* CSS Transition */
/* .box:hover {    
    transform: rotate(90deg);
    margin-left: 400px;
} */

@keyframes myAnimation {
    from {
        transform: translateX(0px) rotate(0deg);
    }
    to {
        transform: translateX(400px) rotate(90deg);
    }
}


/* CSS3 text-overflow */
.text-overflow {
    border: 1px solid #ff0000;
    width: 200px;
}

.text-overflow p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-overflow p:hover{
    white-space: normal;
    overflow: visible;
}