*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
}

:root {
    --bgColorNav : #78B43D;
    --hoverColorNav : #AAD862;
    --hoverColorNavLink : #ffffff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

nav.nav {
    width: 20rem;
    background-color: var(--bgColorNav);
    margin-left: 1rem;
}

nav.nav ul.nav__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

ul.nav__menu li.nav__item 
{   position: relative;
    padding: 1rem 0.5rem;
    border-bottom: 1px solid #000000;
}

ul.nav__menu li.nav__item:last-child {
    border-bottom: none;
}

li.nav__item a.nav__link:link,
li.nav__item a.nav__link:visited,
li.nav__item a.nav__link:active
{
    color: #000000;
}

ul.nav__menu li.nav__item:hover {
    cursor: pointer;
    background-color: var(--hoverColorNav);
}

li.nav__item:hover > a.nav__link {
    color: var(--hoverColorNavLink);
}

ul.nav__dropdown {
    width: 20rem;
    background-color: var(--bgColorNav);
    position: absolute;
    top: 0;
    left: 20rem;
    display: none;
    visibility: hidden;
}

ul.nav__menu li.nav__item:hover > ul.nav__dropdown{
    display: block;
    visibility: visible;
}